.container {
    width: 200px;
}

.container input,
.container button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: .9rem;
}

.container button {
    background-color: deepskyblue;
    font-weight: bold;
    border: none;
}